// Fonts family
@font-face {
  font-family: "Proxima-Nova";
  font-weight: 400;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg") format("svg");
}


@font-face {
  font-family: "Proxima-Nova";
  font-weight: 600;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg") format("svg");
}


// Mixin for declaring font weight, size and line height
@mixin font($font-family: "Proxima-Nova", sans-serif, $font-weight: 400, $font-size: 14px, $font-height: 24px) {
  font: {
    family: $font-family;
    weight: $font-weight;
  };
  @include rem(font-size, $font-size);
  @include rem(line-height, $font-height);
  // @include rem(font, $font-weight $font-size / $font-height $font-family)
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #222;
}

h1 {
  @include rem(font-size, 64px);
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  @include rem(font-size, 48px);
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  @include rem(font-size, 32px);
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  @include rem(font-size, 24px);
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  @include rem(font-size, 18px);
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  @include rem(font-size, 14px);
  line-height: 1.6;
  letter-spacing: 0;
}

// Typography Styles
body {
  @include font;
}

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  &.block {
    display: block;
    margin: 0;
  }
}
